@import "reset.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* background-repeat: no-repeat; */
  /* background-size: contain; */
  /* background-attachment: fixed; */
  /* animation: backgroundAni 5s infinite;
  animation-direction: alternate; */
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  font-size: 1em; /* 1em = 16px */
  color: #444442;
}

div,
header,
footer,
section,
article,
aside,
nav {
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

/* header */
header {
  position: fixed;
  width: 100%;
  z-index: 999;
  display: block;
}
header .logo,
header .hambuger {
  width: 60px;
  height: 60px;
  margin: 20px 0;
  cursor: pointer;
}
header .logo {
  float: left;
  margin-left: 50px;
  /* background-color: rgba(0, 0, 0, 0.1); */
}
.logo a {
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
}
.logo img {
  height: 100%;
}

/* hambuger menu */
header .hambuger {
  float: right;
  margin-right: 50px;
  /* border: 1px solid #cacaca;
  border-radius: 15px; */
}
.bar {
  position: absolute;
  width: 80%;
  height: 1.3px;
  background-color: #999999;
  top: 50%;
  left: 50%;
  transition: all 0.4s;
}
.hambuger:hover .bar {
  height: 2px;
}
.first {
  transform: translate(-50%, -500%);
}
.second {
  transform: translate(-50%, -50%);
}
.third {
  transform: translate(-50%, 500%);
}
.slash {
  width: 80%;
  transform: translate(-50%, -50%) rotate(-225deg);
}
.hidden {
  opacity: 0;
}
.backslash {
  width: 80%;
  transform: translate(-50%, -50%) rotate(225deg);
}
/* hambuger -> drawer menu */
.bg-wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #191919;
  display: none;
}
.drawer {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  transform: translateX(100%);
  z-index: 998;
  /* border: 1px solid red; */
  transition: all 0.5s;
  /* display: none; */
}
.drawer-on {
  /* display: block; */
  transform: translateX(0);
}
.drawer .drawer-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.drawer .dmenu {
  font-size: 60px;
  margin: 15px 0;
  cursor: pointer;
}
.drawer .dmenu:hover {
  color: #f2f2f2;
  /* text-decoration: underline; */
  /* text-decoration-line: line-through; */
}

/* first visual section */
.visual {
  height: 100vh;
  /* animation: backgroundAni 5s infinite;
  animation-direction: alternate; */
}
.visual p {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
}

/* visual animation */
@keyframes backgroundAni {
  0% {
    background-color: rgb(245, 223, 77);
  }

  50% {
    background-color: rgb(245, 198, 77);
  }

  100% {
    background-color: rgb(245, 175, 77);
  }
}

/* about section */
.about {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px 150px;
}
.skills,
.edu,
.works {
  flex: 1;
}
.about ul {
  margin-top: 20px;
}
.about .title {
  color: #fc6a65;
  /* color: #111111; */
  letter-spacing: 4px;
  font-size: 0.75em;
  font-weight: 400;
  font-variant: small-caps;
}
.skills .title::before,
.edu .title::before,
.works .title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
  background-color: #fc6a65;
  /* background-color: #ffeb4a; */
  opacity: 40%;
}
.about .skills .title::before {
  width: 85px;
}
.about .edu .title::before {
  width: 102px;
}
.about .works .title::before {
  width: 167px;
}
.about .subTitle,
.about p {
  color: #cacaca;
  font-weight: 400;
  margin-bottom: 10px;
}
.about .sec,
.about .thi {
  margin-top: 25px;
}
.about .cont {
  line-height: 26px;
}
.edu {
  margin: 0 20px;
}

/* work section */
.work {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  padding: 50px 200px;
}
/* card 부분 */
.work .card {
  height: 520px;
  cursor: pointer;
}
.work a {
  width: 100%;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
}
.work .img {
  width: 100%;
  height: inherit;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5);
}
.work .img img {
  width: 100%;
  height: 100%;
  transition: transform 3s;
}
.work .img:hover img {
  opacity: 0.5;
  transform: scale(1.1);
}
.work .card .text {
  position: absolute;
  top: 50px;
  left: 50px;
  color: #fff;
  font-size: 24px;
  opacity: 0;
  transition: opacity 1s;
}
.work .card:hover .text {
  opacity: 1;
}
.work .card:first-child {
  flex: 100%;
  margin-bottom: 30px;
}
.work .card:nth-child(2),
.work .card:nth-child(3) {
  flex: 1;
}
.work .card:nth-child(3) {
  margin-left: 30px;
}

/* contact section */
.contact {
  width: 100%;
  height: 200px;
  background-color: #f5f5f5;
}
.btn-top {
  width: 60px;
  height: 60px;
  /* border: 1px solid #9f9fa2; */
  border-radius: 50%;
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
}
.btn-top i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #9f9fa2;
  opacity: 0;
}
.btn-top:hover i {
  color: #fc6a65;
}
.show {
  opacity: 1;
}

/* media */
@media screen and (max-width: 1020px) {
  /* header logo and hambuger */
  header .logo {
    margin-left: 20px;
  }
  header .hambuger {
    margin-right: 20px;
  }
  /* about section */
  .about {
    flex-flow: row wrap;
    padding: 50px 100px;
  }
  .skills,
  .edu {
    flex: 1;
    margin: 0;
  }
  .edu {
    margin-left: 20px;
  }
  .works {
    flex: 100%;
    margin-top: 50px;
  }
  /* work section */
  .work {
    padding: 50px 100px;
  }
  .work .card {
    height: 350px;
  }
  .work .card:nth-child(1n) {
    flex: 100%;
    margin: 15px 0;
  }
  .work .card:first-child {
    margin-top: 0;
  }
  .work .card:last-child {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 760px) {
  /* header logo and hambuger */
  header .logo {
    margin-left: 15px;
  }
  header .hambuger {
    margin-right: 15px;
  }
  /* about section */
  .about {
    flex-direction: column;
    padding: 50px;
  }
  .edu {
    margin: 50px 0 0 0;
  }
  /* work section */
  .work {
    padding: 50px;
  }
  .work .card {
    height: 250px;
  }
}
